<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<table class="table table-dark">
    <tr>
        <th>Full name</th>
        <th>Short name</th>
        <th>Best buy price</th>
        <th>Best sell price</th>
    </tr>
    <tr th:each="instrument, iter : ${instruments}">
        <td>
            <a th:text="${instrument.fullName}" th:href="@{/{shortName}(shortName=${instrument.shortName})}" style="color: white; text-decoration: none;"></a>
        </td>
        <td>
            <a th:text="${instrument.shortName}" th:href="@{/{shortName}(shortName=${instrument.shortName})}" style="color: white; text-decoration: none;"></a>
        </td>
        <td>
            <a th:if="*{bestBuySell[__${iter.index}__].bestBuyPrice == -1}" th:href="@{/{shortName}(shortName=${instrument.shortName})}" style="color: white; text-decoration: none;">No Buy/Sell orders!</a>
            <a th:unless="*{bestBuySell[__${iter.index}__].bestBuyPrice == -1}" th:text="*{bestBuySell[__${iter.index}__].bestBuyPrice}" th:href="@{/instruments/{shortName}(shortName=${instrument.shortName})}" style="color: white; text-decoration: none;"></a>
        </td>
        <td>
            <a th:if="*{bestBuySell[__${iter.index}__].bestBuyPrice == -1}" th:href="@{/{shortName}(shortName=${instrument.shortName})}" style="color: white; text-decoration: none;">No Buy/Sell orders!</a>
            <a th:unless="*{bestBuySell[__${iter.index}__].bestBuyPrice == -1}" th:text="*{bestBuySell[__${iter.index}__].bestSellPrice}" th:href="@{/instruments/{shortName}(shortName=${instrument.shortName})}" style="color: white; text-decoration: none;"></a>
        </td>
    </tr>
</table>
</body>
</html>